<script>
$(window).scroll(function(e) {


     if($(window).scrollTop() <= $(document).height()/2) {
        oVal = ($(window).scrollTop() / 170);
    } else {
        oVal = ($(document).height() -
        $(window).scrollTop() -
        $(window).height()) / 170;

    }



    $(".blur").css("opacity", oVal);
    

});
</script>

<div class="img-src" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')"></div>
<div class="img-src blur" style="background-image: url('{{ site.baseurl }}/{% if page.header-img-blur %}{{ page.header-img-blur }}{% else %}{{ site.header-img-blur }}{% endif %}')"></div>
