---
layout: page
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">{{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">{% t posts.posted-by %} {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} {% t posts.posted-on %} {% assign convertDate = post.date %}
    {% include date.fn %}</p>
    {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
    <p class="read-more"><a href="{{ post.url | prepend: site.baseurl }}" class="read-more">{% t posts.read-more %} &rarr;</a></p>
</div>
<hr>
<br />
{% endfor %}

<!-- Pager -->

<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
      {% if paginator.page == 2 %}
        <a href="{{ site.baseurl }}/{{ page.language }}">&larr; {% t posts.newer %}</a>
      {% else %}
        <a href="{{ site.baseurl }}/{{ page.language }}/{{ paginator.previous_page_path }}">&larr; {% t posts.newer %}</a>
      {% endif %}
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ site.baseurl }}/{{ page.language }}/{{ paginator.next_page_path }}"> {% t posts.older %} &rarr;</a>
    </li>
    {% endif %}
</ul>
